


body{
  /*padding: 50px;*/
  background-color: green;
  background-image: url(http://ak-hdl.buzzfed.com/static/2013-11/enhanced/webdr01/21/11/anigif_enhanced-buzz-25559-1385050824-30.gif);
  background-repeat: no-repeat;
  background-size: contain;


  color: navy;
}